<div class="container mt-5">
    <div>
        <h2>Change your password</h2>
        <p>Create a new password here.</p>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>
          <div class="form-group">
            <%= f.label :password, "New password" %><br />
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
            <small id="emailHelp" class="form-text text-muted">6 characters with at least 1 Upper Case and 1 number.</small>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, "Confirm new password" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <button type="submit" class="btn btn-danger">Change my Password</button>
        <% end %>

      </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
